.accordian{
    height:25px;
    background-color: lightgray;
    margin-bottom: 2px;
}
.accordian-item{
    height:100px;
    background-color: lightsalmon;
}
.accordian-green{
    background-color: green;
}